
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Allergen Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Food Allergen Detection</h1>
    <div class="main--container">
        <div class="left-col">
            <h2>Choose an option:</h2>
            <a href="{{ url_for('upload') }}">Upload Image</a>
            <br>
            <a href="{{ url_for('camera') }}">Use Real-Time Camera</a>
        </div>
    </div>
</body>
</html>

